adb/sessions_screencap_pc_roi
debug_out
save.txt
save.py
test

# ignore everything in the folder
captures/**

# allow the folder itself (so git can traverse into it)
!captures/

# allow this specific run folder and its contents
!captures/2026-01-01__19-25-33/
!captures/2026-01-01__19-25-33/**
