adb/sessions_screencap_pc_roi
debug_out
save.txt

# ignore everything in the folder
adb/sessions_screencap_pc_roi/**

# allow the folder itself (so git can traverse into it)
!adb/sessions_screencap_pc_roi/

# allow this specific run folder and its contents
!adb/sessions_screencap_pc_roi/run_20251221_200610/
!adb/sessions_screencap_pc_roi/run_20251221_200610/**
